* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Шрифт для текста */
  height: 100vh;
  background-color: #1c1e22; /* Темный фон */
  color: #e0e0e0; /* Светлый текст */
  line-height: 1.6; /* Улучшенная читаемость */
  overflow: hidden;
}

.image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

nav {
  background-color: #21252b; /* Темный фон навигации */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #444;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

nav li {
  flex: 1;
  text-align: center;
  margin: 0 5px;
}

nav a {
  color: #ffffff; /* Цвет текста навигации */
  text-decoration: none;
  width: 100%;
  display: block;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #ccc; /* Цвет текста при наведении */
}

.game-title-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: calc(100vh - 60px); /* Учитываем высоту навигации */
  padding: 20px; /* Уменьшенный отступ для предотвращения переполнения текста */
  background-color: transparent; /* Убираем фон контейнера */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Добавляем прокрутку, если содержимое превышает размеры */
}

.game-title {
  flex: 1 1 200px; /* Минимальная ширина для контейнеров */
  height: 300px;
  background-color: #2c2f33; /* Темный фон для контейнеров */
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  margin: 20px; /* Отступ между контейнерами */
  color: #ffffff; /* Цвет текста */
  text-align: center; /* Центрируем текст */
  padding: 20px; /* Увеличен отступ для лучшего размещения текста */
  overflow: hidden; /* Скрываем переполнение текста */
}

.game-title img {
  width: 60%; /* Уменьшен размер изображений */
  height: auto;
  margin-bottom: 10px; /* Уменьшен отступ для лучшего восприятия */
  border-radius: 10%; /* Скругление углов изображений */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-title:hover {
  transform: scale(1.05); /* Уменьшено увеличение при наведении */
}

.game-title span {
  font-size: 16px; /* Уменьшен шрифт для лучшего размещения */
  font-weight: bold;
  margin-top: 5px; /* Уменьшен отступ для предотвращения переполнения текста */
}

@media (max-width: 768px) {
  .game-title-container {
      flex-direction: column;
  }
  .game-title {
      width: 100%;
      margin: 10px 0px;
    }
  }
  
  @media (max-width: 480px) {
      nav ul {
          flex-direction: column; /* Вертикальное выравнивание для мобильных устройств */
      }
      nav li {
          margin: 10px 0; /* Увеличенные отступы для мобильных устройств */
      }
      .game-title {
          height: auto; /* Автоматическая высота для контейнеров */
      }
      .game-title img {
          width: 100%; /* Полная ширина для изображений на мобильных устройствах */
          height: auto; /* Автоматическая высота для изображений */
      }
  }
  
  @media (max-width: 320px) {
      .game-title {
          height: auto; /* Автоматическая высота для контейнеров */
      }
      .game-title img {
          width: 100%; /* Полная ширина для изображений */
          height: auto; /* Автоматическая высота для изображений */
      }
  }