body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 50% 50%, #333, #222);
  background-size: 200% 200%;
  animation: gradient-move 10s ease-in-out infinite;
}

@keyframes gradient-move {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

header {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-image: linear-gradient(to bottom, #333, #222);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #444;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #ccc;
}

.image {
  width: 60px; /* Adjusted to fit the navbar */
  height: 60px; /* Adjusted to fit the navbar */
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

main {
  padding: 20px;
  text-align: center;
}

.news-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.grid-container-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.grid-container-accounts {
  display: grid; /* Используйте grid для контейнера аккаунтов */
  grid-template-columns: repeat(3, 1fr); /* Пример: 3 колонки */
  gap: 20px;
  padding: 20px;
}

.grid-items {
  background-color: #666; /* Dark gray background */
  border: 1px solid #444; /* Dark gray border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Add some padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
  transition: transform 0.2s ease-in-out; /* Add a transition effect */
  width: 200px; /* Set the width of the tab */
  height: 150px; /* Set the height of the tab */
  display: flex; /* Make it a flex container */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center elements horizontally */
  align-items: center; /* Center elements vertically */
  cursor: pointer; /* Change the cursor to a pointer */
}

.grid-items:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Add a stronger shadow on hover */
}

.grid-items img {
  width: 100%; /* Make the image full-width */
  height: auto; /* Auto-height for the image */
  border-radius: 10px; /* Rounded corners for the image */
  transition: opacity 0.2s ease-in-out; /* Add a transition effect */
}

.grid-items img:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}

.grid-items h1 {
  font-family: 'Times New Roman', Times, serif; /* Font family */
  font-size: x-large; /* Font size */
  font-weight: bolder; /* Font weight */
  color: #fff; /* Text color */
  text-align: center; /* Center the text */
  margin: 10px 0 0; /* Add some margin */
}
.grid-items p {
  font-size: 18px; /* Font size */
  font-weight: bold; /* Font weight */
  color: #fff; /* Text color */
  text-align: center; /* Center the text */
  margin: 10px 0; /* Add some margin */
}

footer {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

footer a:hover {
  color: #ccc;
}